.Preco h1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: auto;
}
.Preco h1 span {
    font-weight: normal;
}

/* Configura o container principal para ocupar toda a tela */
.container {
    display: flex;
    flex-direction: column; /* Organiza itens na vertical */
    justify-content: flex-end; /* Alinha o conteúdo ao final da tela */
    height: 100vh; /* Altura total da tela */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configura a div interna */
.Preco {
    background: #f0f0f0;
    padding: 20px;
    width: 100%; /* Ocupa toda a largura da tela */
    box-sizing: border-box; /* Inclui padding no cálculo de largura */
    text-align: center; /* Centraliza texto */
}
